{% load static %}<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Panel{% endblock %} | {{ configuracion_sistema.nombre_sistema|default:"Sistema base" }}</title>
  <link rel="icon" href="{% if configuracion_sistema.favicon %}{{ configuracion_sistema.favicon.url }}{% else %}{% static 'images/favicon.png' %}{% endif %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendors/icofont.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendors/themify.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendors/flag-icon.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendors/feather-icon.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendors/scrollbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendors/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link id="color" rel="stylesheet" href="{% static 'css/color-1.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <style>:root{--color-institucional-primario:{{ configuracion_sistema.color_primario|default:'#006666' }};--color-institucional-secundario:{{ configuracion_sistema.color_secundario|default:'#FF6150' }};--theme-deafult:var(--color-institucional-primario);--theme-secondary:var(--color-institucional-secundario)}.institutional-heading{color:var(--color-institucional-primario)}</style>
  {% block extra_css %}{% endblock %}
</head>
<body>
<div class="loader-wrapper"><div class="loader"><div class="loader4"></div></div></div>
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  {% include 'includes/navbar.html' %}
  <div class="page-body-wrapper">{% include 'includes/sidebar.html' %}
    <div class="page-body">
      <div class="container-fluid">{% include 'includes/breadcrumbs.html' %}</div>
      <div class="container-fluid">
        {% include 'includes/messages.html' %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>
</div>
{% include 'includes/theme_customizer.html' %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/icons/feather-icon/feather.min.js' %}"></script>
<script src="{% static 'js/icons/feather-icon/feather-icon.js' %}"></script>
<script src="{% static 'js/scrollbar/simplebar.js' %}"></script>
<script src="{% static 'js/scrollbar/custom.js' %}"></script>
<script src="{% static 'js/config.js' %}"></script><script src="{% static 'js/sidebar-menu.js' %}"></script><script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/theme-customizer/customizer.js' %}"></script>
{% block extra_js %}{% endblock %}
</body></html>
